#side-panel {
  min-width: 50%;
}

#tab-renderer:not([page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]) #fayelyrics-container {
  display: none !important;
}

#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] tp-yt-paper-spinner-lite {
  display: none !important;
}

#contents>ytmusic-description-shelf-renderer {
  display: none !important;
}

#tab-renderer>ytmusic-message-renderer>yt-formatted-string.subtext.style-scope.ytmusic-message-renderer,
#tab-renderer>ytmusic-message-renderer>yt-formatted-string.text.style-scope.ytmusic-message-renderer {
  display: none !important;
}

/* Hide scrollbar */
#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
  overflow-y: auto;
  scrollbar-width: none;
}

#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]::-webkit-scrollbar {
  display: none;
}

#fayelyrics-container {
  font-size: 3rem;
}

#fayelyrics-content {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 3rem;
}

#fayelyrics-content>div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#fayelyrics-content>div.fayelyrics-active {
  font-size: 3.5rem;
  font-weight: 700;
  color: aqua;
}

/* #player-page {
  background: #8cbce7dc;
}


#nav-bar-background {
  background: #8cbce7dc;
}

ytmusic-app-layout>[slot=mini-guide],
#nav-bar-background.ytmusic-app-layout {
  background: #8cbce7dc !important;

}

#nav-bar-divider {
  display: none !important;
} */

ytmusic-app-layout[is-bauhaus-sidenav-enabled] #nav-bar-background.ytmusic-app-layout {
  border-bottom: 0 !important;
}

ytmusic-app-layout[is-bauhaus-sidenav-enabled] #mini-guide-background.ytmusic-app-layout {
  border-right: 0 !important;
}

ytmusic-player-page,
ytmusic-guide-renderer,
ytmusic-player-bar,
#nav-bar-background.ytmusic-app-layout {
  background: rgba(123, 81, 81, 0.215) !important;
}

#player-bar-background {
  background: rgba(102, 51, 153, 0) !important;
}

ytmusic-guide-renderer {
  height: calc(100vh - var(--ytmusic-nav-bar-height) - var(--ytmusic-player-bar-height)) !important;
}

ytmusic-app-layout>[slot=player-bar] {
  width: 100vw !important;
}