#side-panel {
  min-width: 50%;
}

#tab-renderer:not([page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]) #fayelyrics-container {
  display: none !important;
}

#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] tp-yt-paper-spinner-lite {
  display: none !important;
}

#contents>ytmusic-description-shelf-renderer {
  display: none !important;
}

#tab-renderer>ytmusic-message-renderer>yt-formatted-string.subtext.style-scope.ytmusic-message-renderer,
#tab-renderer>ytmusic-message-renderer>yt-formatted-string.text.style-scope.ytmusic-message-renderer {
  display: none !important;
}

/* Hide scrollbar */
#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
  overflow-y: auto;
  scrollbar-width: none;
}

#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]::-webkit-scrollbar {
  display: none;
}

#fayelyrics-container {
  font-size: 3rem;
}

#fayelyrics-content {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 3rem;
}

#fayelyrics-content>div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#fayelyrics-content>div.fayelyrics-active {
  font-size: 3.5rem;
  font-weight: 700;
  color: aqua;
}